* {
  box-sizing: border-box;
  font-size: 100%;
}
html {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100%;
  max-width: 1400px;
  margin: auto;
}
[v-cloak] {
  display: none;
}
