@mixin font-size($size, $context: 16) {
  font-size: ($size / $context) + em;
}
@function em($size, $context: 16) {
  @return ($size / $context) * 1em;
}

@mixin clearfix() {
  // &::after {
  display: block;
  content: "";
  clear: both;
  // }
}
