@import 'mixins';
@import 'general';
@import 'colors';
@import 'slider';
body {
	// width: 100%;
	height: auto !important;
	background-color: $primary !important;
	color: $primary-text;
}
#app {
	background-color: $primary;
	color: $primary-text;
	font-family: 'Open Sans', sans-serif;
}
